body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: black;
    /* width: 100%;
    height: auto;   */
  }

a {
  text-decoration: none;
}

p {
  font-size: large;
}

.fs-3 {
  font-family: 'Quicksand', sans-serif;
}

.small-note {
  font-size: small;
  color: lightgray;
  font-style: italic;
}

.header {
    height: auto;
    width: 100%;
    padding: 10px;
    z-index: 20;
    /* position: fixed;
    top: 1px */
}

.social-bar {
  position: fixed;
  top: 40%;
  margin: 20px;
  z-index: 3;
}

.social-bar a:hover{
  text-decoration: none;
  color: white
}

/* ALIGN */

.center {
    display: grid;
    /* margin-left: auto; */
    /* margin-right: auto; */
    justify-content: center;
}

.center-card {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.center-logo {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    /* margin-top: 30px; */
  }

.right {
    align-content: flex-end;
}

/* COLORS */

.white {
    color: white;
  }

/* POSITION */

.relative-carousel {
  margin-top: -100px;
  z-index: -2;
  position: relative;
}

.footer {
  padding: 20px;
  bottom: 0;
  width: 100%;
  /* background-color: darkgrey; */
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: x-small;
  float: right;
}

.footer a:hover{
  text-decoration: none;
  color: white;
}

/* IMAGES */

.img-car {
  max-height: 15%;
  width: auto;
}

.vertical-car {
  height: 100%;
}

@media (max-width: 540px) {
  p {
    font-size: medium;
    text-align: center;
    font-size: large ;
  }

  .no-display-small {
    display: none
  }
  
  .relative-carousel {
    margin-top: 0px;
  }
}