body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #474843ff;
}

.banner {
    /* background-color: #bb352aff; */
    height: auto;
    width: 100%;
    padding: 10px;
    display: inline-block;
}

/* ALIGN */

.center {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.center-logo {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    /* margin-top: 30px; */
  }

.right {
    align-content: flex-end;
}

  /* COLORS */

  .white {
    color: white;
  }